<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprenda Matemática</title>

    <link rel="stylesheet" href="/public/style/global.css">
    <link rel="stylesheet" href="/public/style/end.css">
    <link rel="stylesheet" href="/public/style/background-animation.css">
</head>
<body>
    <div class="container">
        <div id="end" class="flex-center flex-column">
            <h1 id="finalScore">0</h1>
            <form action="" class="end-form-container">
                <h2 id="end-text">Digite seu nome abaixo para salvar sua pontuação!</h2>
                <input type="text" name="name" id="username" placeholder="Digite seu nome">
                <button class="button" id="saveScoreButton" type="submit" onclick="saveHighScore(event)" disabled>Salvar</button>
            </form>
            <a href="/game" class="button">Jogar Novamente</a>
            <a href="/" class="button back-home"><img src="/public/assets/home.png" alt="Go home" class="icon go-home">Voltar para o início</a>
        </div>
        <div class="background-animation">
            <div>&#43</div>
            <div>&#215</div>
            <div>&#8722</div>
            <div>&#247</div>
            <div>&#43</div>
            <div>&#247</div>
            <div>&#215</div>
            <div>&#215</div>
            <div>&#43</div>
            <div>&#247</div>
            <div>&#43</div>
            <div>&#247</div>
            <div>&#215</div>
            <div>&#215</div>
            <div>&#43</div>
        </div>
    </div>

    <script src="/public/scripts/end.js"></script>
</body>
</html>